@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Mobile Devices*/
@media (min-width:320px) and (max-width:480px){

    /* GET RID OF DEFAULT */
    body{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        overflow: hidden;
        font-family: 'Press Start 2P', cursive;
        background-color: black;
    }

    img{
        display: block;
        width: 100%;
        height: auto;
    }





    /* HANDLES THE TOP PART OF THE WEBSITE */

    #top_bar{
        margin-top: 5%;
        width:100%;
        display:flex;
        background-color: black;
        padding-bottom: 5%;
    }


    #left_icons{
        width:100%;
        display:flex;
        justify-content: space-around;
    }

    #left_icon_box{
        width:20%;
        background-color:rgb(107, 60, 137) ;
        border: 1px solid;
        font-size: .5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-wrap:break-word;
        text-align: center;
        box-shadow:0px 0px 0px .2em grey inset;

    }




    /* HANDLES THE MIDDLE SECTION OF THE WEBSITE */

    #middle_bar{
        position:relative;
        background-image: url("grid.png");
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        border:.3em grey solid;
    }

    

    /* HANDLES THE LEFT THIRD OF MIDDLE */

    #left_middle_box{
        display: flex;
        flex-direction: column;
        padding-top:5%;
    }
    
    
    #left_middle_box_icons{
        background-color: orange;
        box-shadow:0px 0px 0px 1em green inset;
        display:flex;
        text-align: center;
        flex-direction: column;
        font-size:.1em;
        margin-bottom: 5%;
        padding-top:5%;
        padding-bottom:5%;
        margin-left: 2%;;
    }
    


    /* HANDLES MIDDLE */



    #middle_middle_box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }




    /*HANDLES RIGHT MIDDLE */

    #right_middle_box{
        display: flex;
        flex-direction: column;
        padding-top:5%;
    }

 
    
    #right_middle_box_icons{
        background-color: orange;
        box-shadow:0px 0px 0px 1em green inset;
        display:flex;
        text-align: center;
        flex-direction: column;
        font-size:.1em;
        margin-bottom: 5%;
        padding-top:5%;
        padding-bottom:5%; 
        margin-right:2%;
    }   


    



    /* HANDLES LOWER BAR */

    #lower_bar{
        background-color:black;
        display: flex;
        justify-content: space-around;
    }


    /*HANDLES LOWER BAR BOX */

    #lower_bar_icons{
        width:30%;  
        background-color: orange;
        margin-top:10%;
        padding-top:5%;
        padding-bottom:5%;
        border: 1em solid rgb(156, 66, 252);
        font-size:.1em;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        overflow-wrap:break-word;
        text-align: center;
    }
}























/*IPads, Tablets */
@media (min-width:481px) and (max-width:768px){

    /* GET RID OF DEFAULT */
    body{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        overflow: hidden;
        font-family: 'Press Start 2P', cursive;
        background-color: black;
    }

    img{
        display: block;
        width: 100%;
        height: auto;
    }





    /* HANDLES THE TOP PART OF THE WEBSITE */

    #top_bar{
        margin-top: 2%;
        margin-bottom:2%;
        width:100%;
        display:flex;
        background-color: black;
    }


    #left_icons{
        width:100%;
        display:flex;
        justify-content: space-around;
    }

    #left_icon_box{
        width:20%;
        background-color:rgb(107, 60, 137) ;
        border: 1px solid;
        font-size: .5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-wrap:break-word;
        text-align: center;
        box-shadow:0px 0px 0px .2em grey inset;

    }




    /* HANDLES THE MIDDLE SECTION OF THE WEBSITE */

    #middle_bar{
        position:relative;
        background-image: url("grid.png");
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        border:.3em grey solid;
    }

    

    /* HANDLES THE LEFT THIRD OF MIDDLE */

    #left_middle_box{
        display: flex;
        flex-direction: column;
        padding-top:2%
    }
    
    
    #left_middle_box_icons{
        background-color: orange;
        box-shadow:0px 0px 0px 1em green inset;
        display:flex;
        text-align: center;
        flex-direction: column;
        font-size:.1em;
        margin-bottom: 5%;
        padding-top:10%;
        padding-bottom:10%;
        margin-left: 2%;;
    }
    


    /* HANDLES MIDDLE */



    #middle_middle_box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }




    /*HANDLES RIGHT MIDDLE */

    #right_middle_box{
        display: flex;
        flex-direction: column;
        padding-top:2%;
    }

 
    
    #right_middle_box_icons{
        background-color: orange;
        box-shadow:0px 0px 0px 1em green inset;
        display:flex;
        text-align: center;
        flex-direction: column;
        font-size:.1em;
        margin-bottom: 5%;
        padding-top:10%;
        padding-bottom:10%;
        margin-right: 2%;
    }   


    



    /* HANDLES LOWER BAR */

    #lower_bar{
        background-color:black;
        display: flex;
        justify-content: space-around;
    }


    /*HANDLES LOWER BAR BOX */

    #lower_bar_icons{
        width:30%;  
        background-color: orange;
        margin-top: 1%;
        padding-top:1%;
        padding-bottom:1%;
        border: 1em solid rgb(156, 66, 252);
        font-size:.1em;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        overflow-wrap:break-word;
        text-align: center;
    }
}






















/* Small Screens, Laptops */
@media (min-width:769px) and (max-width:1023px){
        /* GET RID OF DEFAULT */
        body{
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            overflow: hidden;
            font-family: 'Press Start 2P', cursive;
            background-color: black;
        }
    
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    
    
    
    
    
        /* HANDLES THE TOP PART OF THE WEBSITE */
    
        #top_bar{
            margin-top: 2%;
            margin-bottom:2%;
            width:100%;
            display:flex;
            background-color: black;
        }
    
    
        #left_icons{
            width:100%;
            display:flex;
            justify-content: space-around;
        }
    
        #left_icon_box{
            width:20%;
            background-color:rgb(107, 60, 137) ;
            border: 1px solid;
            font-size: .5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            overflow-wrap:break-word;
            text-align: center;
            box-shadow:0px 0px 0px .2em grey inset;
    
        }
    
    
    
    
        /* HANDLES THE MIDDLE SECTION OF THE WEBSITE */
    
        #middle_bar{
            position:relative;
            background-image: url("grid.png");
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            border:.3em grey solid;
        }
    
        
    
        /* HANDLES THE LEFT THIRD OF MIDDLE */
    
        #left_middle_box{
            display: flex;
            flex-direction: column;
            padding-top:2%
        }
        
        
        #left_middle_box_icons{
            background-color: orange;
            box-shadow:0px 0px 0px 1em green inset;
            display:flex;
            text-align: center;
            flex-direction: column;
            font-size:.1em;
            margin-bottom: 5%;
            padding-top:10%;
            padding-bottom:10%;
            margin-left: 2%;;
        }
        
    
    
        /* HANDLES MIDDLE */
    
    
    
        #middle_middle_box{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
    
    
    
        /*HANDLES RIGHT MIDDLE */
    
        #right_middle_box{
            display: flex;
            flex-direction: column;
            padding-top:2%;
        }
    
     
        
        #right_middle_box_icons{
            background-color: orange;
            box-shadow:0px 0px 0px 1em green inset;
            display:flex;
            text-align: center;
            flex-direction: column;
            font-size:.1em;
            margin-bottom: 5%;
            padding-top:10%;
            padding-bottom:10%;
            margin-right: 2%;
        }   
    
    
        
    
    
    
        /* HANDLES LOWER BAR */
    
        #lower_bar{
            background-color:black;
            display: flex;
            justify-content: space-around;
        }
    
    
        /*HANDLES LOWER BAR BOX */
    
        #lower_bar_icons{
            width:30%;  
            background-color: orange;
            margin-top: 1%;
            padding-top:1%;
            padding-bottom:1%;
            border: 1em solid rgb(156, 66, 252);
            font-size:.1em;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            overflow-wrap:break-word;
            text-align: center;
        }
}
/* Desktops, Large Screens*/
@media (min-width:1024px) and (max-width:1200px){
            /* GET RID OF DEFAULT */
            body{
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                overflow: hidden;
                font-family: 'Press Start 2P', cursive;
                background-color: black;
            }
        
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        
        
        
        
        
            /* HANDLES THE TOP PART OF THE WEBSITE */
        
            #top_bar{
                margin-top: 2%;
                margin-bottom:2%;
                width:100%;
                display:flex;
                background-color: black;
            }
        
        
            #left_icons{
                width:100%;
                display:flex;
                justify-content: space-around;
            }
        
            #left_icon_box{
                width:20%;
                background-color:rgb(107, 60, 137) ;
                border: 1px solid;
                font-size: .5em;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                overflow-wrap:break-word;
                text-align: center;
                box-shadow:0px 0px 0px .2em grey inset;
        
            }
        
        
        
        
            /* HANDLES THE MIDDLE SECTION OF THE WEBSITE */
        
            #middle_bar{
                position:relative;
                background-image: url("grid.png");
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                border:.3em grey solid;
            }
        
            
        
            /* HANDLES THE LEFT THIRD OF MIDDLE */
        
            #left_middle_box{
                display: flex;
                flex-direction: column;
                padding-top:2%
            }
            
            
            #left_middle_box_icons{
                background-color: orange;
                box-shadow:0px 0px 0px 1em green inset;
                display:flex;
                text-align: center;
                flex-direction: column;
                font-size:.1em;
                margin-bottom: 5%;
                padding-top:10%;
                padding-bottom:10%;
                margin-left: 2%;;
            }
            
        
        
            /* HANDLES MIDDLE */
        
        
        
            #middle_middle_box{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        
        
        
        
            /*HANDLES RIGHT MIDDLE */
        
            #right_middle_box{
                display: flex;
                flex-direction: column;
                padding-top:2%;
            }
        
         
            
            #right_middle_box_icons{
                background-color: orange;
                box-shadow:0px 0px 0px 1em green inset;
                display:flex;
                text-align: center;
                flex-direction: column;
                font-size:.1em;
                margin-bottom: 5%;
                padding-top:10%;
                padding-bottom:10%;
                margin-right: 2%;
            }   
        
        
            
        
        
        
            /* HANDLES LOWER BAR */
        
            #lower_bar{
                background-color:black;
                display: flex;
                justify-content: space-around;
            }
        
        
            /*HANDLES LOWER BAR BOX */
        
            #lower_bar_icons{
                width:30%;  
                background-color: orange;
                margin-top: 1%;
                padding-top:1%;
                padding-bottom:1%;
                border: 1em solid rgb(156, 66, 252);
                font-size:.1em;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                overflow-wrap:break-word;
                text-align: center;
            }
}
/* Extra Large Screens, TVs*/
@media (min-width:1201px) {
                /* GET RID OF DEFAULT */
                body{
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    overflow: hidden;
                    font-family: 'Press Start 2P', cursive;
                    background-color: black;
                }
            
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                }
            
            
            
            
            
                /* HANDLES THE TOP PART OF THE WEBSITE */
            
                #top_bar{
                    margin-top: 2%;
                    margin-bottom:2%;
                    width:100%;
                    display:flex;
                    background-color: black;
                }
            
            
                #left_icons{
                    width:100%;
                    display:flex;
                    justify-content: space-around;
                }
            
                #left_icon_box{
                    width:20%;
                    background-color:rgb(107, 60, 137) ;
                    border: 1px solid;
                    font-size: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow-wrap:break-word;
                    text-align: center;
                    box-shadow:0px 0px 0px .2em grey inset;
            
                }
            
            
            
            
                /* HANDLES THE MIDDLE SECTION OF THE WEBSITE */
            
                #middle_bar{
                    position:relative;
                    background-image: url("grid.png");
                    display:flex;
                    flex-direction: row;
                    justify-content: space-around;
                    border:.3em grey solid;
                }
            
                
            
                /* HANDLES THE LEFT THIRD OF MIDDLE */
            
                #left_middle_box{
                    display: flex;
                    flex-direction: column;
                    padding-top:2%
                }
                
                
                #left_middle_box_icons{
                    background-color: orange;
                    box-shadow:0px 0px 0px .6em green inset;
                    display:flex;
                    text-align: center;
                    flex-direction: column;
                    font-size:.9em;
                    margin-bottom: 5%;
                    padding-top:5%;
                    padding-bottom:5%;
                    margin-left: 2%;;
                }
                
            
            
                /* HANDLES MIDDLE */
            
            
            
                #middle_middle_box{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            
            
            
            
                /*HANDLES RIGHT MIDDLE */
            
                #right_middle_box{
                    display: flex;
                    flex-direction: column;
                    padding-top:2%;
                }
            
             
                
                #right_middle_box_icons{
                    background-color: orange;
                    box-shadow:0px 0px 0px .6em green inset;
                    display:flex;
                    text-align: center;
                    flex-direction: column;
                    font-size:.9em;
                    margin-bottom: 5%;
                    padding-top:5%;
                    padding-bottom:5%;
                    margin-right: 2%;
                }   
            
            
                
            
            
            
                /* HANDLES LOWER BAR */
            
                #lower_bar{
                    background-color:black;
                    display: flex;
                    justify-content: space-around;
                }
            
            
                /*HANDLES LOWER BAR BOX */
            
                #lower_bar_icons{
                    width:30%;  
                    background-color: orange;
                    margin-top: 4%;
                    padding-top:1%;
                    padding-bottom:1%;
                    border: .5em solid rgb(156, 66, 252);
                    font-size:1.2em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    overflow-wrap:break-word;
                    text-align: center;
                }
}